vim/plugged
*.zwc

.vscode

# alfred chatgpt
mac/alfred/Alfred.alfredpreferences/workflows/user.workflow.9FA15761-18C0-4CC9-8791-0C7DBCE57352/prefs.plist

# alfred obsidian
mac/alfred/Alfred.alfredpreferences/workflows/user.workflow.1504DAF9-9088-4139-B385-4234C3CB42A8/prefs.plist
