<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>workflows.dungnt.jira</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>2B725262-686C-49B6-802C-7C1816DCAAC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58E2BE5C-AEB4-4BCE-A5E7-244B6531D262</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35037CEC-0F69-4F42-807C-E7CE5F95DF53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80D46031-39AE-4F86-851E-B6B9AECDAA69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58E2BE5C-AEB4-4BCE-A5E7-244B6531D262</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35037CEC-0F69-4F42-807C-E7CE5F95DF53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>80D46031-39AE-4F86-851E-B6B9AECDAA69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C958236-CBC6-43D3-ACA8-89DF4BE92123</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C958236-CBC6-43D3-ACA8-89DF4BE92123</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5FF0A2D9-C300-458C-B455-62274A1DD5CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CCE4B91D-4977-4E53-8369-1B5166F081CB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B8226C7C-F455-49B9-BDD7-5CF2C4A93D28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC495FBF-3F07-4144-A353-3D6E2E048B1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB5FC7BA-89E9-40F2-8AEE-F0707FC4F6E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dung Nguyen (nhymxu)</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JIRA opener</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{var:url}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5FF0A2D9-C300-458C-B455-62274A1DD5CE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jira</string>
				<key>subtext</key>
				<string>Turn a Jira Issue Into a URL</string>
				<key>text</key>
				<string>Jira Issue</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2B725262-686C-49B6-802C-7C1816DCAAC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split2}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>cb</string>
						<key>uid</key>
						<string>CCE4B91D-4977-4E53-8369-1B5166F081CB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>9C958236-CBC6-43D3-ACA8-89DF4BE92123</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split1}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>url</key>
					<string>https://{var:jiraSubdomain}.atlassian.net/browse/{var:split1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>80D46031-39AE-4F86-851E-B6B9AECDAA69</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>58E2BE5C-AEB4-4BCE-A5E7-244B6531D262</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>35037CEC-0F69-4F42-807C-E7CE5F95DF53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:url}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B8226C7C-F455-49B9-BDD7-5CF2C4A93D28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>jiramywork</string>
				<key>subtext</key>
				<string>Go to My Assigned Work in Jira</string>
				<key>text</key>
				<string>Jira My Work</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FC495FBF-3F07-4144-A353-3D6E2E048B1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{var:jiraSubdomain}.atlassian.net/jira/your-work</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DB5FC7BA-89E9-40F2-8AEE-F0707FC4F6E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2B725262-686C-49B6-802C-7C1816DCAAC1</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>35037CEC-0F69-4F42-807C-E7CE5F95DF53</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>58E2BE5C-AEB4-4BCE-A5E7-244B6531D262</key>
		<dict>
			<key>note</key>
			<string>Uppercase</string>
			<key>xpos</key>
			<real>150</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>5FF0A2D9-C300-458C-B455-62274A1DD5CE</key>
		<dict>
			<key>note</key>
			<string>Add URL to clipboard and Paste</string>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>80D46031-39AE-4F86-851E-B6B9AECDAA69</key>
		<dict>
			<key>note</key>
			<string>Set URL</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>9C958236-CBC6-43D3-ACA8-89DF4BE92123</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>B8226C7C-F455-49B9-BDD7-5CF2C4A93D28</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>DB5FC7BA-89E9-40F2-8AEE-F0707FC4F6E0</key>
		<dict>
			<key>xpos</key>
			<real>160</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>FC495FBF-3F07-4144-A353-3D6E2E048B1D</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>jiraSubdomain</key>
		<string>cryptopie-labo</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://dungnt.net</string>
</dict>
</plist>
